
body{
    text-align: center;
    margin-top: 50px;
}

h1{
    font-size: large;
    font-weight:lighter;
}
#first{
    display:inline-flex;
    /*border: solid black 1px;*/
    margin: 20px;
    padding: 30px 70px;
}
#first button{
    border: none;
    background-color: white;
}

#presentation{
    text-align: right;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 70px;
    width: 50%;
}

#Imdev{
    font-size: 2.5em;
}
#Imdev span{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: yellow;
}
#code{
    width: 500px;
    top: 30%;
    left: 50%;
    background-color: black;
    color: white;
    text-align: left;
    border-radius: 10px;
    margin-left: 40px;
    padding: 20px;
}