
body{
    text-align: center;
    margin-top: 50px;
}

h1{
    font-size: large;
    font-weight:lighter;
}
#first{
    display:inline-flex;
    /*border: solid black 1px;*/
    margin: 20px;
    padding: 30px 70px;
}
#first button{
    text-decoration: none;
}

#presentation{
    text-align: right;
    font-weight: bold;
    font-size: x-large;
    /*display: flex;
    flex-direction: column;*/
    padding-top: 70px;
    /*padding-left: 100px;
    padding-right: 5px;
    border: solid black 1px;*/
}

#Imdev{
    font-size: xxx-large;
}

#code{
    position: fixed;
    background-color: black;
    color: white;
    text-align: left;
    border-radius: 10px;
    margin-left: 40px;
    padding: 20px;
}